

#page-manager-edit  .col-sm-3{ 
  float: left; 
  width: 25%; 
}

body.page-user-login {

	.main-content {padding:0 20px!important;}

}

.contextual-links-trigger.toc-filter-processed
.contextual-links-trigger,
.contextual-links a {color:red!important;background:red!important;display:block!important}

#navbar-administration .navbar-bar {background:@navbar-administration-bg;}


.tabs--primary {margin-bottom:5px;}